<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Homepage.css" />
    <title>MegaHor</title>
  </head>


  <body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
          <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
          <h3 class=" mr-2">MegaHor</h3>
      </div>
      <button class="navbar-toggler" type="buttozn" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <% if (user !== null) { %>
                <a class="nav-link" href="Selection.ejs">Home</a>
              <% }else{ %>
                <a class="nav-link" href="HomePage.ejs">Home</a>
              <% } %>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Contact.ejs">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="About.ejs">About</a>
          </li>
          <li class="nav-item">
            <% if (user !== null) { %>
                <a class="nav-link" href="LogOut">Log out</a>
              <% }else{ %>
                <a class="nav-link" href="Login.ejs">Login</a>
              <% } %>
          </li>
        </ul>
      </div>
    </nav>


    <% if (user !== null) { %>
        <div class="mx-5 ">
          <div class="row my-3 d-flex align-items-center">
              <h2 id="title" style="text-decoration: underline;" class="col"></h2>
              <div class="row d-flex align-items-center">
                  <h5 class="col d-flex justify-content-end"><%=user%> (<%=role%>)</h2>
                  <img src="profile.png" width="40" height="40" class="d-inline-block align-top " alt="">
              </div>
          </div>
        </div>
      <% } %>


  <div class="container" id="homepageContent">
    <div class="row d-flex h-100 mx-auto my-auto justify-content-center">
        <div class="col my-auto mx-auto">
            <h2 class="d-flex justify-content-center my-5 ">
                About us
            </h2>

            <p class="mt-5">We're students of informatic engineering in ISEL, Lisboa, Portugal. </p>
            <p>We are developing a project that aims to solve the classic problem of creating and editing school schedules for the different classes in a school organization.</p>
            <p>Our goal is to develop a web application that's able to create and edit course plans with entities like teachers, units, classes and the relationship between them. Able to, with the teachers unavailbailty stain, create, edit and validate school schedules.  
              Besides this, we aim to develop a system of creation and editing of free schedules.</p>
        </div>
        <div class="col d-flex justify-content-center my-auto mx-auto">
            <img src="logo-isel.png" width="auto" height="auto" class="d-inline-block align-top" alt="">
        </div>
    </div>
  </div>


  
  <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>

  </body>
</html>
