<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Homepage.css" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>

    <title>MegaHor</title>

    <style>


/*######### SIDEBAR #####################*/


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #03797d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
  overflow: hidden;
  color: white;

}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}



.sidebar a:hover {
  color: #feaa21;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #03797d;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #feaa21;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


    /*######### MODAL #####################*/
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    /* .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 70%;
      height: 60%;
    } */

    
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    #container {
    width: 80%;
    /*border-radius: 25px;*/
    border: 2px solid Black;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background: #A4D3EE;
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
  }

  .x {
      position: absolute;
      background: rgb(0, 0, 0);
      color: white;
      top: 0px;
      right: 0px;
  }


/*  ########## TAB ###########  */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

    
      </style>

  </head>


  <body onload="loadSchedules();">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
        <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
          <h3 class=" mr-2">MegaHor</h3>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="Selection.ejs">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contact.ejs">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="About.ejs">About</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="LogOut">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

      
      <input type="hidden" name="isClassSchedule" id="isClassSchedule" value="yes">

      <div id="mySidebar" class="sidebar">
        <div class="ml-3">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          

        </div>

        <div class="ml-3">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <h5 href="#"><u>Units - Teachers</u></h5>
          <ul id="associations">
          </ul>
        </div>
      </div>
      
      <div id="main">
        <button class="openbtn rounded" onclick="openNav()">☰ Info</button>  

      </div>

    <div class="row w-100 sideBar">
        

        <div class="col">

          <h2 class="d-flex justify-content-center"><%=className%></h2>
          <input type="hidden" name="classID" id="classID" value= "<%=id%>" >
          <input type="hidden" name="class_type" id="class_type" value= "<%=class_type%>" >
          <input type="hidden" name="class_schedule" id="class_schedule" value= "<%=class_schedule%>">
          <input type="hidden" name="colors" id="colors" value= "<%=colors%>">


            <div class="row w-100">

              

                <div class="col " ondrop="drop(event, this, 'left')" ondragover="allowDrop(event)">
                  <div class="p-1 m-1 border border-warning rounded">
                    <div class="tab" id="active">
                    </div>
  
                    <table class="table table-bordered rounded">
                      <thead >
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Monday</th>
                          <th scope="col">Tuesday</th>
                          <th scope="col">Wednesday</th>
                          <th scope="col">Thursday</th>
                          <th scope="col">Friday</th>
                          <th scope="col">Saturday</th>
                          <th scope="col">Sunday</th>
                        </tr>
                      </thead>
                      <tbody style="background-color:white;" id="tbody"></tbody>
                    </table>
  
                  </div>

                  <a type="button" class="btn btn-outline-danger ml-2 d-inline" onclick="clearSchedule(schedule_tbody)">Clear</a>
                  <a id="showChoosenSubject" type="button" class="btn btn-outline-info ml-2 d-inline" onclick="sendToLeft()">Show chosen subjects</a>
                  <h6 class="d-inline ml-5" style="text-decoration: underline; font-weight: bold;" id="toCreateInfo"></h6>

                  <!-- INFO -->
                  <div class="p-1  mt-3 border border-warning rounded ">
                    <div class="m-2" id="infoTab">
                      <h5><u>Choose a unit:</u></h5>
                      <ul id="weeklyHours">

                      </ul>

                    </div>
                  </div>

                  
                </div>


                <div class="col" ondrop="drop(event, this, 'right')" ondragover="allowDrop(event)">
                  <div class="p-1 m-1 border border-warning rounded">

                  <table class="table table-bordered rounded" id="tableSchedule">
                    <thead style="background-color:white;">
                      <tr style="background-color:white;">
                        <th scope="col"></th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody style="background-color:white;" id="tbody2"></tbody>
                  </table>

                </div>
               
                <a type="button" class="btn btn-outline-danger ml-2 d-inline" id="delete_button" onclick="delete_cell_class_schedule()">Delete</a>
                <a type="button" class="btn btn-outline-warning ml-2 d-inline" onclick="saveClassSchedule()">Save</a>


                <div class="p-1  mt-3 border border-warning rounded ">
                  <div class="m-2">
                    <h5><u>Units weekly hours:</u></h5>

                    <div class="ml-5" id="limitHours"> </div>
                  </div>
                </div>
                
                </div>
            </div>

        </div>

        
    </div>

      <hr>
      <p id="justAdiv" hidden><%= JSON.stringify(teachers) %></p>

      <div class="row w-100 sideBar">

        <div class="col">
            <div class="row w-100">
                <div class="col p-4 m-1 d-flex justify-content-center border border-warning rounded" id="firstdiv" ondragover="allowDrop(event)">
                    <!-- <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> -->
                    <p hidden id="p1"></p>
                    <button type="button" class="btn btn-outline-info" onclick="modal.style.display = 'block'; modalUL(document.getElementById('uList'), document.getElementById('justAdiv').innerHTML, this)" id = "plus1" >+</button>
                    <img hidden src="" width="300" height="150" alt="The Pulpit Rock" id="img1" draggable="true" ondragstart="drag(event)">
                    <button hidden type="button" id = "x1" class="x" onclick=" document.getElementById('x1').hidden = true;document.getElementById('img1').hidden = true; document.getElementById('plus1').hidden = false; document.getElementById('p1').hidden = true;">X</button>
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning rounded" id="seconddiv" ondragover="allowDrop(event)">
                    <!-- <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> -->
                    <p hidden id="p2"></p>
                    <button type="button" class="btn btn-outline-info" onclick="modal.style.display = 'block'; modalUL(document.getElementById('uList'), document.getElementById('justAdiv').innerHTML, this)"  id = "plus2" >+</button>
                    <img hidden src="" width="300" height="150" alt="Schedule" id="img2" draggable="true" ondragstart="drag(event)">
                    <button hidden type="button" id = "x2" class="x" onclick="document.getElementById('x2').hidden = true;document.getElementById('img2').hidden = true; document.getElementById('plus2').hidden = false; document.getElementById('p2').hidden = true;">X</button>
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning rounded "  id="thirddiv" ondragover="allowDrop(event)">
                    <!-- <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> -->
                    <p hidden id="p3"></p>
                    <button type="button" class="btn btn-outline-info" onclick="modal.style.display = 'block'; modalUL(document.getElementById('uList'), document.getElementById('justAdiv').innerHTML, this)"  id = "plus3" >+</button>
                    <img hidden src="" width="300" height="150" alt="Schedule" id="img3" draggable="true" ondragstart="drag(event)">
                    <button hidden type="button" id = "x3" class="x" onclick="document.getElementById('x3').hidden = true;document.getElementById('img3').hidden = true; document.getElementById('plus3').hidden = false; document.getElementById('p3').hidden = true;">X</button>
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning rounded"  id="forthdiv" ondragover="allowDrop(event)">
                    <!-- <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> -->
                    <p hidden id="p4"></p>
                    <button type="button" class="btn btn-outline-info" onclick="modal.style.display = 'block'; modalUL(document.getElementById('uList'), document.getElementById('justAdiv').innerHTML, this)"  id = "plus4">+</button>
                    <img hidden src="" width="300" height="150" alt="Schedule" id="img4" draggable="true" ondragstart="drag(event)">
                    <button hidden type="button" id = "x4" class="x" onclick="document.getElementById('x4').hidden = true;document.getElementById('img4').hidden = true; document.getElementById('plus4').hidden = false; document.getElementById('p4').hidden = true;">X</button>
                </div>
            </div>
        </div>
      </div>




      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
      <div class="modal-dialog modal-dialog-scrollable h-75 ">
        <div class="modal-content" >

          <div class="modal-header d-flex justify-content-center">
            <span hidden class="close">&times;</span>
            <h5 id="modalTitle">Select the schedule you want to compare</h5>
          </div>

          <div class="modal-body d-flex justify-content-center">
            <ul id="uList">

            </ul>
          </div>


        </div>
      </div>


      </div>


  
      <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>
  <script>
  ///////////////MODAL///////////////////
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  ///////////////MODAL///////////////////
  </script>

  <script src="Megahor.js"></script>
  <script src="MegaHor_Model.js"></script>
  <script src="MegaHor_Controller.js"></script>

  </body>
</html>