<!--  
    onLoad:
    setClicks() - set all clicks on tree view
    setLists() - set all lists of teachers, units and classes  of tree view with function addToList (that set clicks in each entity)
    #################
    All entities have and id that corresponds to the context that it is inserted and its primary key
    Tree view - ID of each <li>
    Teachers - inputs type hidden - name (teacherName) and context + ID (teacherID) - value
    Units - inputs type hidden - context + ID (contextUnits)
    Classes - inputs type hidden - context + ID (contextClasses)
    #################
//--> 


<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Homepage.css" />
    <title></title>
  </head>
  <body onload="setClicks(); setLists();">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
        <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
          <h3 class=" mr-2">MegaHor</h3>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="Selection.ejs">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contact.ejs">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="About.ejs">About</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="LogOut">Log out</a>
          </li>
        </ul>
      </div>
    </nav>




      <div class="mx-5">
        <div class="row my-3 d-flex align-items-center">
            <h2 id="title" style="text-decoration: underline;" class="col">Courses Management</h2>
            <div class="row d-flex align-items-center">
                <h5 class="col d-flex justify-content-end"><%=user%></h2>
                <img src="profile.png" width="40" height="40" class="d-inline-block align-top" alt="">
            </div>
        </div>


        <div class="row mt-5">
            <!-- LEIM title -->
            <ul id="treeView" class="col-3">

                

              </ul>
              


            <div id="content" class="col">
                <div id="introdution">
                    <h2 class="mb-5"  style="text-decoration: underline;">LEIM</h2>
                    <p>Here you can create teachers and course unites and associate each other. You can also create classes and associate all the teacher you want them to be part of.</p>
                </div>


                <h2 id="TITLE" class="mb-5" style="text-decoration: underline;">   </h2>


                <div id="associateEmail" hidden>
                  <div class="ml-5">
                        <label for="email">Associate e-mail</label>
                        <input type="text" name="email" id="email" list="emailDroplist" >
                        <datalist id="emailDroplist">

                        </datalist>

                        <a class="ml-3" onclick="teacherMails_submit()"> <button class="btn btn-outline-secondary btn-sm" type="button"> Associate </button> </a>
                      </div>

                      <a onclick="deleteEntity(this)" id="deleteTeacher" style="cursor: pointer;"  role="button" aria-pressed="true" class="row btn btn-outline-danger ml-5 mt-5 mb-5"> Delete teacher</a>
                      
                      <img id="teacherStainImage" src="" class="img-fluid ml-2 row rounded" width="auto" height="auto">

                      <p id="teacherStainAlert" class="ml-5 row"> </p>

                        <form  action="/UnavailabilityStainCoord.ejs" method="post">
                          <input type="hidden" name="teacherName" id="teacherName">
                          <input type="hidden" name="teacherID" id="teacherID">
                          <input type="hidden" name="teacherSchedule" id="teacherSchedule">
                          <div class="row d-inline-flex">
                            <button type="submit" id="createEditTeacherStain"  role="button" aria-pressed="true" class="mr-3 col btn btn-outline-warning ml-5 mt-2 mb-5"> </button>
                            <a id="notifyTeacher" style="cursor: pointer;"  role="button" aria-pressed="true" class="col btn btn-outline-info ml-5 mt-2 mb-5"> Notify teacher </a>
                          </div>

                        </form>





                  </div>

                <div id="associateTeacher" hidden>
                  <div class="ml-5" >
                      <label for="emails">Associate Teacher with Course Unit</label>
                      <input type="hidden" name="contextUnits" id="contextUnits">
                      <input type="text" name="teacher" id="teacher" list="teacherDroplist">
                      <datalist id="teacherDroplist">

                      </datalist>

                      <a class="ml-3" style="cursor: pointer;" onclick="associateTeacher()"> <button class="btn btn-outline-secondary btn-sm" type="button"> Associate </button> </a>

                    </div>

                    <div class="w-50">
                      <p class="ml-5 mt-5">Associated Teachers:</p>

                      <div id="associatedCourseUnits" class="text-white d-inline-flex w-100 ml-5 rounded pt-2">
                        <ul id="unitsTeacher">
                        </ul>
                      </div>

                      <a onclick="deleteEntity(this)" style="cursor: pointer;" id="deleteUnit"  role="button" aria-pressed="true" class="btn btn-outline-danger ml-5 mt-5"> Delete unit</a>


                    </div>
              </div>

                <div id="associateCourseUnits" hidden>
                    <div  class="ml-5">
                        <label for="unit">Associate Course Unit with Class</label>
                        <input type="hidden" name="contextClasses" id="contextClasses">
                        <input type="text" name="unit" id="unit" list="unitDroplist">
                        <datalist id="unitDroplist">

                        </datalist>
                        <a class="ml-3" style="cursor: pointer;" onclick="associateUnit()"> <button class="btn btn-outline-secondary btn-sm" type="button"> Associate </button> </a>
                      </div>

                      <div class="w-50">
                        <p class="ml-5 mt-5">Associated Course Units:</p>

                        <div id="associatedCourseUnits" class="text-white d-inline-flex w-100 ml-5 rounded pt-2">
                          <ul id="classUnits">
                          </ul>
                        </div>

                      </div>

                      <div class="row">
                        <div class="select ml-5 mt-3 col-sm-2">
                          <select id="class_select" onchange="setClassType()">
                            <option value="day_class">Day class</option>
                            <option value="night_class">Night class</option>
                          </select>
                          <span class="focus"></span>
                        </div>
  
                        <p class="col mt-3" id="definitions"></p>
                      </div>
                      


                      <div class="m-5 mb-5 d-inline-flex row w-50">
                        <div class="col mb-5">
                          <form action="/ClassSchedule.ejs" onsubmit="return checkIfDefinitions()" method="post">
                            <input type="hidden" name="classNameForSchedule" id="classNameForSchedule" >
                            <input type="hidden" name="class_type" id="class_type" >
                            <input type="hidden" name="class_schedule" id="class_schedule" >
                            <input id="createClassScheduleBtn" type="submit"  role="button" aria-pressed="true" class="btn btn-outline-warning" value="Create Class Schedule">
                          </form>
                        </div>
                        <div class="col mb-5">
                          <a onclick="deleteEntity(this)" style="cursor: pointer;" id="deleteClass" role="button" aria-pressed="true" class="btn btn-outline-danger"> Delete class</a>
                        </div>
                      </div>

                        <img id="classScheduleImage" src="" class="img-fluid rounded row mb-5 ml-2" width="auto" height="auto">

                </div>

            </div>
          
        </div>

      </div>

      <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>


      <script src="Megahor.js"></script>
      <script src="MegaHor_Controller.js"></script>

  </body>
  
</html>