<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Homepage.css" />
    <title>MegaHor</title>
  </head>


  <body  onload="new_schedule()">

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
        <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
          <h3 class=" mr-2">MegaHor</h3>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link " href="Selection.ejs" >Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="HomePage.ejs">Log out</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="mx-5 ">
      <div class="row my-3 d-flex align-items-center">
          <h2 id="title" style="text-decoration: underline;" class="col"></h2>
          <div class="row d-flex align-items-center">
              <h5 class="col d-flex justify-content-end"><%=user%> (<%=role%>)</h2>
              <img src="profile.png" width="40" height="40" class="d-inline-block align-top " alt="">
          </div>
      </div>
    </div>


    <div class="row w-100 sideBar">
        <div class="col-1 mt-5">
            <h5 id="usVertical" class="mt-5">Schedule to create</h5>
        </div>
        

        <div class="col">
            <div class="row w-100">


                <div class="mt-2">
                    <h6>Change the hours</h6>
                  </div>
            
                  <div class="row justify-content-start d-flex align-items-center my-2">
                    
                    <div class="input-group input-group-sm mb-3 col">
                      <input id="starting_hour" placeholder="Starting hour" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="09" type="number" pattern="[0-2][0-9]" inputmode="numeric" maxlength="2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">hours</span>
                      </div>
                    </div>
                    <p>:</p>
                    <div class="input-group input-group-sm mb-3 col">
                      <input id="starting_minutes" placeholder="Starting minutes" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="30" type="number" pattern="[0-2][0-9]" inputmode="numeric" maxlength="2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">min</span>
                      </div>
                    </div>
            
                    
                    <div class="input-group input-group-sm mb-3 col">
                      <input id="ending_hour" placeholder="Ending hour" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="14" type="number" pattern="[0-2][0-9]" inputmode="numeric" maxlength="2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">hours</span>
                      </div>
                    </div>
                    <p>:</p>
                    <div class="input-group input-group-sm mb-3 col">
                      <input id="ending_minutes" placeholder="Ending minutes" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="00" type="number" pattern="[0-2][0-9]" inputmode="numeric" maxlength="2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">min</span>
                      </div>
                    </div>
            
            
                    <div class="input-group input-group-sm mb-3 col">
                      <input id="interval_hour" placeholder="Interval hour" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="1" type="number" pattern="[0-2][0-9]" inputmode="numeric" maxlength="2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">hours</span>
                      </div>
                    </div>
                    <p>:</p>
                    <div class="input-group input-group-sm mb-3 col">
                      <input id="interval_minutes" placeholder="Interval minutes" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="30" type="number" pattern="[0-2][0-9]" inputmode="numeric" maxlength="2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">min</span>
                      </div>
                    </div>
                    <button onclick="set_hours()"id="set_button"type="button"class="col col-sm-2 btn btn-outline-dark btn-sm bd-highlight d-flex justify-content-center mx-2">
                    Set hours
                    </button>
                  </div>


                <div class="col m-5">
                    <!-- Schedule table  -->
                    <table class="table table-bordered" id="tableSchedule">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Monday</th>
                            <th scope="col">Tuesday</th>
                            <th scope="col">Wednesday</th>
                            <th scope="col">Thursday</th>
                            <th scope="col">Friday</th>
                            <th scope="col">Saturday</th>
                            <th scope="col">Sunday</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>

      <hr>

      <div class="row w-100 sideBar">
        <div class="col-1">
            <h5 id="usVertical">Unavailability stains</h5>
        </div>
        <div class="col">
            <div class="row w-100">
                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>
            </div>

            <div class="row w-100">
                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>

                <div class="col p-4 m-1 d-flex justify-content-center border border-warning">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
                </div>
            </div>
        </div>
      </div>

      
      




  
      <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>
      
      
  <script src="MegaHor_Model.js"></script>
  <script src="MegaHor_Controller.js"></script>

  </body>
</html>
