<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Homepage.css" />
    <title>MegaHor</title>
  </head>


  <body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
          <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
      </div>
      <button class="navbar-toggler" type="buttozn" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="HomePage.ejs">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Contact.ejs">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="About.ejs">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Login.ejs">Login</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="container" id="homepageContent">
    <div class="row d-flex h-100 mx-auto my-auto justify-content-center">
        <div class="col my-auto mx-auto">
            <h2 class="d-flex justify-content-center my-5">
                MegaHor
            </h2>
            <h5 class="d-flex justify-content-center my-5">Don't lose anytime, do your schedule right now!</h5>
            <h5 class="d-flex justify-content-center my-5"> <a href="MegaHor.ejs"><i class="fa fa-plus-circle" aria-hidden="true"></i> Make a new free schedule </a></h5>
        </div>
        <div class="col d-flex justify-content-center my-auto mx-auto">
            <img src="Homepage2.jpg" width="550" height="550" class="d-inline-block align-top" alt="">
        </div>
    </div>
  </div>
  
  <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>

  </body>
</html>
