<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Homepage.css" />
    <title>Login</title>
  </head>
  <body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
          <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
      </div>
      <button class="navbar-toggler" type="buttozn" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="HomePage.ejs">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Contact.ejs">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="About.ejs">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Login.ejs">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form id="Login" action="/LoginProcess" method="post" class="box">
                        <h1>MEGAHOR</h1>
                          <input type="text" id="emailLogin" name="email" placeholder="Email">
                          <input type="password" id="passwordLogin" name="password" placeholder="Password">
                          <input class="mb-5" type="submit" value="Login">
                          <p class="LgSu " onclick="LoginToSignup()">Don´t have an account? Sign in now!</p>
                    </form>
                    <form hidden id="SignUp" action="/SignUpProcess" onsubmit="return validateSignUp()" method="post" class="box ">
                      <h1>MEGAHOR</h1>
                      <input type="text" id="emailSignup" name="email" placeholder="E-mail">
                      <input type="password" id="passwordSignup" name="password" placeholder="Password">
                      <input type="password" id="confirmPasswordSignup" name="confirmPassword" placeholder="Confirm password">
                      <input type="text" id="usernameSignup" name="username" placeholder="Username">
                      <input type="text" id="numberSignup" name="number" placeholder="Number">
                        <p>Please select your role:</p>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="inlineCheckbox1" name="role" value="Coordinator">
                          <label class="form-check-label" for="inlineCheckbox1">Coordinator</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="inlineCheckbox2" name="role" value="Teacher">
                          <label class="form-check-label" for="inlineCheckbox2">Teacher</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="inlineCheckbox3" name="role" value="Student">
                          <label class="form-check-label" for="inlineCheckbox3">Student</label>
                        </div>
                        <input class="mb-5" type="submit" name="" value="Sign up">
                        <p class="LgSu" onclick="LoginToSignup()">You already have an account? Login now!</p>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>

    <script src="Megahor.js"></script>

    </body>

</html>