<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="MegaHorCSS.css" />
    <link rel="stylesheet" href="Homepage.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>

    <title>MegaHor</title>
  </head>


  <body onload="new_schedule(document.getElementById('tbody'))">



    
    <!-- Title-MegaHor  -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
          <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
          <h3 class=" mr-2">MegaHor</h3>
      </div>
      <button class="navbar-toggler" type="buttozn" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <% if (user !== null) { %>
              <a class="nav-link" href="Selection.ejs">Home</a>
            <% }else{ %>
              <a class="nav-link" href="HomePage.ejs">Home</a>
            <% } %>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Contact.ejs">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="About.ejs">About</a>
          </li>
          <li class="nav-item">
            <% if (user !== null) { %>
              <a class="nav-link" href="LogOut">Log out</a>
            <% }else{ %>
              <a class="nav-link" href="Login.ejs">Login</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <input type="hidden" name="isClassSchedule" id="isClassSchedule" value="no">

    <div class="container">
      <div class="mb-5 container">

        <div class="mt-5">
          <h5>Choose the subject </h5>
        </div>
  
        <div class="row justify-content-start d-flex align-items-center">
  
          <input id="colorPicker" class="col col-sm-1 mx-2"  type="color" value="#ffc290" >
  
          <input
            id="current_subject"
            type="text"
            class="col col-sm-2 form-control mx-2"
            placeholder="Subject name"
            size="50"
          />
  
  
          <button
            onclick="save_subject()"
            id="set_button"
            type="button"
            class="col col-sm-1 btn btn-outline-dark px-5 bd-highlight d-flex justify-content-center mx-2"
          >
            Set
          </button>
  
          <button onclick="delete_cell()" id="delete_button" type="button" class="col col-sm-1 btn btn-outline-danger px-5 bd-highlight d-flex justify-content-center mx-2">Delete</button>
        </div>
  
        <div class="mt-4">
          <h5>Change the hours</h5>
        </div>
  
        <div class="row justify-content-start d-flex align-items-center my-2 mx-1">
          
          <label for="starting_hour" class="mr-2 mt-1">Starting hour</label>
          <input type="time" class="mr-3" id="starting_hour" name="starting_hour" min="06:00" max="23:59" value="09:30" required>

          <label for="ending_hour" class="mr-2 mt-1">Ending hour</label>
          <input type="time" class="mr-3" id="ending_hour" name="appt" min="06:00" max="23:59" value="23:00" required>

          <label for="interval" class="mr-2 mt-1">Interval</label>
          <input type="time" class="mr-3" id="interval" name="interval" min="00:30" max="4:00" value="01:30" required>


          <button onclick="set_hours(document.getElementById('tbody'))" id="set_button" type="button"class="col col-sm-2 btn btn-outline-dark btn-sm bd-highlight d-flex justify-content-center mx-2">
          Set hours
          </button>
        </div>
  
        
  
        </div>
  
  
  
      <!-- Schedule table  -->
      <table class="table table-bordered" id="tableSchedule" style="background-color:white;">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
          </tr>
        </thead>
        <tbody id="tbody" style="background-color:white;"></tbody>
      </table>
      <button id="demo" class="downloadtable btn btn-outline-warning mr-1" onclick="downloadtable()"> Download Table</button>

    </div>
    
    <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>

    <script>

      function downloadtable() {
  
          var node = document.getElementById('tableSchedule');
          var img;
          domtoimage.toJpeg(node, { quality: 0.95 })
              .then(function (dataUrl) {

                var x = document.createElement("IMG");
                x.setAttribute("src", dataUrl);
                x.setAttribute("width", "auto");
                x.setAttribute("height", "auto");
                x.setAttribute("alt", "The Pulpit Rock");
                document.body.appendChild(x);

                  schedule.set_image(dataUrl); // Save image in schedule instance
                  
                  downloadURI(dataUrl, "records.jpeg");
              })
              .catch(function (error) {
                  console.error('oops, something went wrong!', error);
              });

          
          
      }
  
      function downloadURI(uri, name) {
          var link = document.createElement("a");
          link.download = name;
          link.href = uri;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          delete link;
          console.log(schedule.image); // the saved URL
      }
  
  </script>


    <script src="MegaHor_Model.js"></script>
    <script src="MegaHor_Controller.js"></script>
  </body>
</html>
