<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
    <link rel="stylesheet" href="Homepage.css" />
    <title>MegaHor</title>
  </head>


  <body onload="onloadUnavailabilityStain('')">

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center">
        <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
          <h3 class=" mr-2">MegaHor</h3>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="Selection.ejs">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contact.ejs">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="About.ejs">About</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="LogOut">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

      <input type="hidden" name="isClassSchedule" id="isClassSchedule" value="no">

      <div class="mx-5 ">
        <div class="row my-3 d-flex align-items-center">
            <h2 id="title" style="text-decoration: underline;" class="col"></h2>
            <div class="row d-flex align-items-center">
                <h5 id="random" class="col d-flex justify-content-end"><%=user%> (<%=role%>)</h2>
                <p hidden id="teacherName"><%=user%></p>
                <p hidden id="teacherEmail">teacher</p>
                <p hidden id="schedule"></p>
                <img src="profile.png" width="40" height="40" class="d-inline-block align-top " alt="">
            </div>
        </div>
      </div>


      <div class="container" id="unavailabilityContainer">
            <!-- Title-MegaHor  -->

            <div class="mb-5">

            <div class="mt-5 mb-5">
                <h3><u> Make your unavailability stain</u> </h3>
            </div>

            <div class="row justify-content-start d-flex align-items-center ml-1 mb-3">
              <button onclick="restartStain()" id="restartStain" type="button" class=" col col-sm-1 btn btn-outline-info px-5 bd-highlight d-flex justify-content-center mx-2">Restart</button>
              <p class="col "><strong>Click</strong> to restart making your unavailability stain</p>
            </div>

            <div class="row justify-content-start d-flex align-items-center ml-1">
                <button onclick="delete_cell()" id="delete_button" type="button" class=" col col-sm-1 btn btn-outline-danger px-5 bd-highlight d-flex justify-content-center mx-2">Delete</button>
                <p class="col "><strong>Check</strong> the button and then delete what you want. <strong>Uncheck</strong> it and you can create.</p>
              </div>



            </div>

            <!-- Schedule table  -->
            <table class="table table-bordered" id="tableSchedule" style="background-color:white;">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
                </tr>
            </thead>
            <tbody id="tbody" style="background-color:white;"></tbody>
            </table>

            <button id="downloadStain" class="downloadtable mb-5 btn btn-outline-info" onclick="downloadtable()"> Download Table</button>
            <button id="saveStain" class="downloadtable mb-5 btn btn-outline-info" onclick="downloadtableToServer()"> Save Stain</button>

        </div>

        <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>
    <script>

    </script>

    <script src="Megahor.js"></script>
    <script src="MegaHor_Model.js"></script>
    <script src="MegaHor_Controller.js"></script>
  </body>
</html>
