<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="Homepage.css" />
        <title></title>
    </head>
    <body onload="loadSchedules()">

      <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
        <div class="d-flex align-items-center">
          <img src="logo4.png" width="35" height="35" class="mx-2" alt="">
            <h3 class=" mr-2">MegaHor</h3>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="Selection.ejs">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Contact.ejs">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="About.ejs">About</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="LogOut">Log out</a>
            </li>
          </ul>
        </div>
      </nav>

        <div class="mx-5">
            <div class="row my-3 d-flex align-items-center">
                <h2 id="title" style="text-decoration: underline;" class="col">Your schedules</h2>
                <div class="row d-flex align-items-center">
                    <h5 class="col d-flex justify-content-end"><%=user%> (<%=role%>)</h2>
                    <img src="profile.png" width="40" height="40" class="d-inline-block align-top" alt="">
                </div>
            </div>

            <input id="role" type="hidden" value="<%=role%>">


        <div class="container">
            <div id="whereToInsert" class="row mx-5 mt-5">

               


          </div>
          
          <div id="footer" class="navbar fixed-bottom fixed-bottom d-flex justify-content-center">Copyright ISEL © 2021 | Designed and developed by Afonso Aires & Rodrigo Matos </div>
        <script src="Megahor.js"></script>

    </body>

</html>