html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navbar {
  border-bottom: 1px solid #333333;
  }

.nav-item:hover{
  border-radius: 5px;
  background-color:  #ffb639;
}

#footer{
  border-top: 1px solid #333333;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}



/*###################################################################################*/
/*Tree view*/
#treeView{
  border-right: 1px solid #333333;
}

ul, #treeView {
  list-style-type: none;
}

#treeView {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  color: black;
}


.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}




/*###################################################################################*/
/*card*/
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




/*###################################################################################*/
/*LOGIN*/

.card {
  margin-bottom: 20px;
  border: none
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #03797dc2;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  color: white;
  border-radius: 25px;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #23cccf;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}




::placeholder {
  color: #23cccf;
}


.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #feaa21;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #fea92144
}

.forgot {
  text-decoration: underline;
  color: white;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
  transition: all 0.8s
}



/*#########################################################*/
#associatedCourseUnits{
  background-color: #23cccf;
  border-style: solid;
  border-width: 1px;
  border-color: #02797d;
}

/*########################################################*/

#usVertical{
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.sideBar{
  border-left: 1px solid #333333;
}

/*##############  LOGIN  ##################################*/
.LgSu:hover{
  cursor: pointer;
  text-decoration: underline;
}

/*#########################################################*/

/*@import url('../../../font-awesome-4.7.0/css/font-awesome.min.css');*/
