

#tableSchedule td:hover {
        background-color: #94efff8f;
        color: rgb(8, 0, 80);
  }

  #tableSchedule2 td:hover {
    background-color: #94efff8f;
    color: rgb(8, 0, 80);
}

#tableSchedule td,tr,th 
{
    text-align: center; 
    vertical-align: middle;
}

#colorPicker {
    padding: 0;
    border: none;
    height: 35px;
    width: 50px;
    vertical-align: middle;
}

